.boxProminent {
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 300px; /* ต้องมี height */
}

.imag {
    width: 100% !important;
}